.Coursecard{
    display: flex;
    flex-direction: column;
    width:  25rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: rgba(138, 137, 137, 0.603) 0px 2px 8px 0px;
}
.Coursesinfo{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0rem;
    min-width: 100%;
}
.Coursesdescription{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.Coursesduration{
    font-weight: 550;
    background-color: rgba(128, 128, 128, 0.288);
    border-radius: 0.35rem;
    padding: 0.2rem;
}
.Coursescategory{
    font-weight: 550;
    background-color: rgba(128, 128, 128, 0.288);
    border-radius: 0.35rem;
    padding: 0.2rem;
}
.Coursestitle{
    font-size: 1.5rem;
    font-weight: 1000;
}
.thumbnail{
    img{
        width: 100%;
        border-radius: 0.5rem;
    }
}
.Coursesexplore{
    text-align: center;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    background-color: black;
    border-radius: 0.35rem;
    button{
        height: 2.5rem;
        padding: 0.3rem;
        border-radius: 0.5rem;
        position: relative;
        width: 6.9rem;
        text-align: start;
        font-weight: 1000;
        font-size: 1rem;
        color: white;
    }
    button:hover{
        cursor: pointer;
    }
    img{
        width: 1.8rem;
        height: 1.8rem;
    }
    img:hover{
        cursor: pointer;
    }
}