.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quote{
    padding: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 3.3rem;
    }
    h5{
        font-size: 1rem;
    }
}
.searchBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    input{
        width: 60%;
        height: 2.8rem;
        padding: 1rem;
        font-size: 1.2rem;
        border-radius: 0.7rem;
        align-items: center;
        background-color: white;
        padding-left: 3rem;
        padding-right: 3.1rem;
        border-radius: 2rem;
        color: black;
    }
    img{
        width: 2.2rem;
        position: absolute;
    }
}
.searchicons{
    transform: translateX(-22rem);
}
.nexticons{
    transform: translateX(22rem);
}