.footer{
    color: white;
    padding: 1.5rem;
}
.name{
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    img{
        width: 3rem;
    }
    h1{
        font-size: 1.5rem;
    }
}
.contact{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.location{
    img{
        width: 1.5rem;
    }
    display: flex;
    align-items: center;
}
.copyright{
    text-align: center;
    margin-top: 5rem;
}
.email{
    img{
        width: 1.5rem;
        margin-right: 0.5rem;
    } 
    display: flex;
}
.mail{
    color: white;
}